{
  "presets": [
    [
      "es2015",
      {
        //"modules": false,
        "loose": true
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "babel-plugin-transform-decorators-legacy"
  ]
}